includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
parameters:
    paths:
        - app
    level: 6
    ignoreErrors:
        - '#return type with generic interface#'
        - '#Call to an undefined method Illuminate\\Support\\Collection<.*>::makeHidden\(\)#'
        - '#uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types: TFactory#'
        - '#is not covariant with PHPDoc type list<string> of overridden property#'
        - '#return type with generic class Illuminate\\Database\\Eloquent\\Relations\\.* does not specify its types:#'
    excludePaths:
        analyse:
            - app/Providers/*
            - app/Http/Middleware/*
